$header-bg-color: oklch(22.823% 0.01299 107.425); // olive 2nd last
$header-font-color: oklch(96.6% 0.005 106.5); //olive 2nd
// $header-font-color: oklch(88.5% 0.062 18.334); // red 2nd
$header-font-hover: oklch(94.6% 0.033 307.174); //purple 2n

$box-shadow-color: rgba(29, 29, 12, 0.35);
