@use "../../sass/variables/fonts.scss" as *;
@use "../../sass/variables/colors.scss" as *;
@use "../../sass/mixins/mixins.scss";

.modal {
  @include mixins.dimension(800px, 600px);

  border-radius: 10px;

  //stops overflow of border
  scrollbar-gutter: stable both-edges;
  scrollbar-color: $header-bg-color $header-font-color;

  &::backdrop {
    background-color: rgba(128, 128, 128, 0.39);
    backdrop-filter: blur(5px);
  }

  &__container {
    @include mixins.dimension(100%, auto);

    @include mixins.flexbox(column);
    @include mixins.wrap();

    &__img {
      //1:1.5
      // max-width: 100%;

      width: 200px;
      height: 300px;

      margin-bottom: 0.5rem;
    }

    &__text {
      font-family: $body-font;

      text-align: center;

      width: 90%;
    }
    &__header {
      font-family: $header-font;
      font-weight: bold;

      margin: 0;

      text-align: center;

      width: 90%;
    }
  }
}
