@use "../../sass/variables/colors" as *;
@use "../../sass/variables/fonts" as *;

@use "../../sass/mixins/mixins.scss";

.nav {
  @include mixins.flexbox(row, end, center);

  gap: 1rem;

  padding: 1rem;
  margin: 0;

  background-color: $header-bg-color;

  font-family: $header-font;

  &__link {
    color: $header-font-color;
    text-decoration: none;

    &:hover {
      color: $header-font-hover;
    }
  }

  &__other {
    background-color: white;
    margin-right: auto;

    &__img {
      width: 2rem;
    }
  }
}
