@use "../../../sass/variables/fonts" as *;
@use "../../../sass/variables/colors" as *;
@use "../../../sass/mixins/mixins.scss";

.uncontrolledForm {
  @include mixins.flexbox(column);
  @include mixins.wrap();

  row-gap: 1rem;

  &__label {
    font-family: $body-font;
    font-size: 1.5rem;
  }
  &__input {
    background-color: $header-font-hover;
    font-family: $body-font;
    border: 3px solid $header-bg-color;
    border-radius: 3px;
    text-align: center;
    font-size: 1.5rem;
  }
}
