@use "../../sass/fonts" as *;

.book {
  width: 250px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 3px solid black;

  border-radius: 5px;
  padding: 5px;

  transition:
    transform 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 31px 19px rgba(0, 0, 0, 0.5);
    background-color: rgba(172, 255, 47, 0.1);
  }

  &__img {
    width: 80px;
    height: 120px;

    margin-bottom: 0.5rem;
  }
  &__text {
    font-family: $body-font;

    text-align: center;

    width: 90%;
  }
  &__header {
    font-family: $header-font;
    font-weight: bold;

    margin: 0;

    text-align: center;

    width: 90%;
  }
}
