@use "../../sass/variables/fonts" as *;
@use "../../sass/variables/colors" as *;
@use "../../sass/mixins/mixins";

.book {
  width: 250px;
  height: 300px;

  @include mixins.flexbox(column);

  border: 3px solid $header-bg-color;

  border-radius: 5px;
  padding: 5px;

  transition:
    transform 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 12px 6px $box-shadow-color;
    background-color: $header-font-hover;
  }

  &__img {
    width: 80px;
    height: 120px;

    margin-bottom: 0.5rem;
  }
  &__text {
    font-family: $body-font;

    text-align: center;

    width: 90%;
  }
  &__header {
    font-family: $header-font;
    font-weight: bold;

    margin: 0;

    text-align: center;

    width: 90%;
  }
}
