@use "../../sass/variables/fonts" as *;
@use "../../sass/variables/colors" as *;

@use "../../sass/mixins/mixins.scss";

.homePage {
  @include mixins.flexbox(column);
  // @include mixins.dimension(100%, 100%);
  // background-color: $header-font-color;

  &__header {
    font-family: $header-font;
    text-align: center;

    font-size: 2.5rem;
  }
  &__body {
    font-family: $body-font;
    text-align: center;
  }
}

.dropdown {
  margin: 5px;
}

html {
  // scrollbar-gutter: stable both-edges;
  scrollbar-color: $header-bg-color $header-font-color;
  scrollbar-width: 10px;
}
